

h1 {
  text-align: center;
  vertical-align: top;
  font-size: 60px;
}

p {
  text-align: left;
  font-size: 30px;
}

body{
  background-color: lightblue;
}

.center{
  text-align: center;
  vertical-align: top;
  margin-top: -3%;
  margin-bottom: auto;
}

.blue-header{
  background-color: lightblue;

}

.sdbr-button{
  background-color: lightblue;
  border: none;
  color: white;
  padding: 1%;
  text-align: center;
  display: inline-block;
  font-size: medium;
  cursor: pointer;
}

.sdbr-button:hover{
  background-color: white;
  color: black;
}
